@{
    ViewBag.Title = "Create Step Two";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int createstep2 = 1;
    int referencia = 1;
}

<h2 style="margin-top: 60px;">Create New Project - Step 2</h2>

<div class="container">
    @if(ViewBag.MensagemErroAluno != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.MensagemErroAluno
        </div>
    }
    <div class="row">
        <!-- BOTÃO DE ABRIR MODAL DE ADICIONAR ALUNOS NO PROJETO -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#studentsModal" id="btnAddStudent">
            <i class="fa fa-user-plus"></i> Add Student
        </button>

        <!-- MODAL QUE MOSTRA A TABELA COM OS ALUNOS CADASTRADOS NO SERVIDOR -->
        <div class="modal fade" id="studentsModal" tabindex="-1" role="dialog" aria-labelledby="studentsModallLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="studentsModalLabel">Students</h4>
                    </div>

                    <div class="modal-body">
                        <div class="col-md-12">
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <!-- BOTÃO DE EFETUAR PESQUISA DE ALUNOS PARA INSERIR NO PROJETO -->
                                    <input type="text" name="Search" class="form-control input-lg" placeholder="Search for Name..." id="search" required />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-lg" type="submit">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div style="margin:60px">
                            <table class="table table-bordered">
                                <tr>
                                    <th>NAME</th>
                                    <th>E-MAIL</th>
                                    <th>#</th>
                                </tr>
                                @foreach (var t in ViewBag.AlunoProjeto)
                                {
                                    <tr>
                                        <td>@t.Nome</td>
                                        <td>@t.Email</td>
                                        <td>
                                            <!-- BOTÃO DE INSERIR ALUNOS NO PROJETO -->
                                            <a href="/project/addalunodata/@t.IdPessoa" class="btn btn-default btn-sm">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> <!-- fim -->
    </div>

    <table class="table table-hover">
        <tr>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>INITIAL DATE</th>
            <th>FINAL DATE</th>
            <th>#</th>
        </tr>
        @foreach (var aluno in ViewBag.AlunoProjeto)
        {
            <tr>
                <td>@aluno.Nome</td>
                <td>@aluno.Email</td>
                <td>@aluno.DataEntrada.ToShortDateString()</td>
                <td>--</td>
                <td>
                    <!-- BOTÃO DE ABRIR O MODAL DE DELETAR ALUNOS DO PROJETO NO PROJETO -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDelUser_@createstep2">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                    </button>

                    <!-- MODAL DE CONFIRMAÇÃO DE DELETAR ALUNO DO PROJETO -->
                    <div class="modal fade" id="confirmDelUser_@createstep2" tabindex="-1" role="dialog" aria-labelledby="confirmDelUserLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content modal-sm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="confirmDelUser"> Confirm Deletion</h4>
                                </div>
                                <div class="modal-body">
                                    <p> Are you sure you want to delete?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"> Cancel</button>
                                    <!-- BOTÃO DE CONFIRMAR EXCLUSÃO DO ALUNO DO PROJETO -->
                                    <a href="/project/delalunodata/@aluno.IdPessoa" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {
                createstep2++;
            }
        }
    </table>

    <!--REFERÊNCIA-->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addReferencia">
        <i class="fa fa-user-plus"></i> Add Reference
    </button>
    <!-- MODAL QUE MOSTRA A TABELA COM OS REFERÊNCIA CADASTRADOS NO SERVIDOR -->
    <div class="modal fade" id="addReferencia" tabindex="-1" role="dialog" aria-labelledby="addReferencialLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addReferenciaLabel">References</h4>
                </div>
                <form action="/project/addreferenciaprojeto" method="post">

                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="text" name="referenceName" placeholder="Reference Name" class="form-control input-register" maxlength="60">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success btn-sm"> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!--fim-->
    <table class="table table-bordered">
        <tr>
            <td>REFERENCE</td>
            <td>OPTIONS</td>
        </tr>
        @foreach (var item in ViewBag.Referencia)
        {
            <tr>
                <td>@item.DescricaoReferencia</td>
                <td>
                    <!-- BOTÃO QUE ABRE O MODAL DE CONFIRMAÇÃO DE DELETAR REFERÊNCIA DO PROJETO -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDelRef_@referencia">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                    </button>

                    <!-- MODAL DE CONFIRMAÇÃO DE DELETAR REFERÊNCIA DO PROJETO -->
                    <div class="modal fade" id="confirmDelRef_@referencia" tabindex="-1" role="dialog" aria-labelledby="confirmDelRefLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content modal-sm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="confirmDelRef"> Confirm Reference Deletion</h4>
                                </div>
                                <div class="modal-body">
                                    <p> Are you sure you want to delete reference?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"> Cancel</button>
                                    <!-- BOTÃO DE CONFIRMAR EXCLUSÃO DE REFERÊNCIA -->
                                    <a href="/project/delreferenciaprojeto/@item.IdReferencia" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {
                referencia++;
            }
        }
    </table>

    <form action="/project/salvararquivo" method="post" enctype="multipart/form-data">
        <input type="file" class="file" id="file">
        <div class="input-group col-xs-6">
            <input type="text" class="form-control input-lg" id="btnFile" disabled placeholder="Upload file...">
            <span class="input-group-btn">
                <button class="browse btn btn-default input-lg" style="font-size:18px;" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
            </span>
        </div>

        <button class="btn btn-default" type="submit">Finalize Project Creation</button>
    </form>

    @if (ViewBag.Status == 1)
    {
        <!-- BOTÃO DE PUBLICAR O PROJETO -->
        <a href="/project/group" class="btn btn-default"> Publish Project</a>
    }
    else
    {
        <!-- BOTÃO DE FINALIZAR A CRIAÇÃO DO PROJETO -->
        <a href="/project/group" class="btn btn-default">Finalize Project Creation </a>
    }
</div>

