
@{
    ViewBag.Title = "Edit Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int editproj = 1;
    int referencia = 1;
}

<h2 style="margin-top:60px">Edit Project</h2>
<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="Pname" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-6">
                <input type="text" id="Pname" name="Pname" placeholder="Project Name" class="form-control input-register" value="@ViewBag.Projeto.NomeProjeto" maxlength="50">
            </div>
        </div>
        <div class="form-group">
            <label for="Advisor" class="col-sm-3 control-label">Advisor</label>
            <div class="col-sm-6">
                <input type="text" id="Advisor" name="Advisor" placeholder="Advisor" class="form-control input-register" value="@ViewBag.NomeOrientador.Nome" disabled maxlength="50">
            </div>
        </div>
        <div class="form-group">
            <label for="Coadvisor" class="col-sm-3 control-label">Co-Advisor</label>
            <div class="col-sm-6">
                <input type="text" id="Coadvisor" name="Coadvisor" placeholder="Co-Advisor" value="@ViewBag.NomeCoorientador" disabled class="form-control input-register" maxlength="50">
            </div>
        </div>
        <div class="form-group">
            @if (ViewBag.Projeto.IdTipo == 1)
            {
                <label>Type</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="Tipo" id="gridRadios1" value="1" checked>
                        TCC
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="Tipo" id="gridRadios2" value="2">
                        Scientific Research
                    </label>
                </div>
            }
            else if (ViewBag.Projeto.IdTipo == 2)
            {
                <label>Type</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="Tipo" id="gridRadios1" value="1">
                        TCC
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="Tipo" id="gridRadios2" value="2" checked>
                        Scientific Research
                    </label>
                </div>
            }
        </div>

        <div class="row" style="height:50px; margin-top:35px">
            <input type="file" class="file">
            <div class="input-group col-xs-6">
                <input type="text" class="form-control input-lg" id="btnFile" disabled placeholder="Upload file...">
                <span class="input-group-btn">
                    <!-- BOTÃO DE ADICIONAR ARQUIVO AO PROJETO -->
                    <button class="browse btn btn-default input-lg" style="font-size:18px;" type="button">
                        <i class="glyphicon glyphicon-search"></i> Browse
                    </button>
                </span>
            </div>
            <!-- BOTÃO DE SALVAR MUDANÇAS -->
            @*<a class="btn btn-default btn-lg pull-right btnProject" href="#">
                    <span class="glyphicon glyphicon-check"></span> Save Changes
                </a>*@
            <!-- BOTÃO QUE ABRE O MODAL DE CONFIRMAÇÃO DAS ALTERAÇÕES REALIZADAS NO PROJETO -->
            <button type="button" class="btn btn-default btn-lg pull-right btnProject" data-toggle="modal" data-target="#confirmEditProf"> Save Changes</button>

            <!-- MODAL DE CONFIRMAÇÃO DAS ALTERAÇÕES -->
            <div class="modal fade" id="confirmEditProf" tabindex="-1" role="dialog" aria-labelledby="confirmEditProfLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content modal-sm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="confirmEditProf"> Confirm Changes</h4>
                        </div>
                        <div class="modal-body">
                            <p> Are you sure you want to save edits?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Cancel</button>
                            <!-- BOTÃO QUE SALVA AS ALTERAÇÕES REALIZADAS -->
                            <button type="submit" class="btn btn-success btn-sm"> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <textarea class="form-control " name="Descricao" placeholder="Description..." value="@ViewBag.Projeto.Descricao" rows="4"></textarea>
        </div>
    </form>


    <div style="margin:60px">
        <!-- BOTÃO DE ABRIR MODAL DE ADICIONAR ALUNOS NO PROJETO -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#studentseditModal" id="btnAddStudentedit">
            <i class="fa fa-user-plus"></i> Add Student
        </button>
        <!-- MODAL QUE MOSTRA A TABELA COM OS ALUNOS CADASTRADOS NO SERVIDOR -->
        <div class="modal fade" id="studentseditModal" tabindex="-1" role="dialog" aria-labelledby="studentseditModallLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="studentseditModalLabel">Students</h4>
                    </div>

                    <div class="modal-body">
                        <div class="col-md-12">
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <!-- BOTÃO DE EFETUAR PESQUISA DE ALUNOS PARA INSERIR NO PROJETO -->
                                    <input type="text" name="Search" class="form-control input-lg" placeholder="Search for Name..." id="search" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-lg" type="button">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div style="margin:60px">
                            <table class="table table-bordered">
                                <tr>
                                    <th>NAME</th>
                                    <th>E-MAIL</th>
                                    <th>#</th>
                                </tr>
                                @foreach (var t in ViewBag.ListaAlunoProjeto)
                                {
                                    <tr>
                                        <td>@t.Nome</td>
                                        <td>@t.Email</td>
                                        <td>
                                            <!-- BOTÃO DE INSERIR ALUNOS NO PROJETO -->
                                            <a href="/project/addalunodataedit/@t.IdPessoa" class="btn btn-default btn-sm">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <tr>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>INITIAL DATE</th>
                <th>FINAL DATE</th>
                <th>#</th>
            </tr>
            @foreach (var aluno in ViewBag.ListaAlunoProjeto)
            {
                <tr>
                    <td>@aluno.Nome</td>
                    <td>@aluno.Email</td>
                    <td>@aluno.DataEntrada.ToShortDateString()</td>
                    @if (@aluno.DataSaida.ToShortDateString() != "01/01/1900")
                    {
                        <td>@aluno.DataSaida.ToShortDateString()</td>
                    }
                    else
                    {
                        <td>--</td>
                    }
                    <td>
                        <!-- BOTÃO DE DELETAR ALUNOS DO PROJETO NO PROJETO -->
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDelUser_@editproj">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                        </button>

                        <!-- MODAL DE CONFIRMAÇÃO DE DELETAR USUÁRIO DO SISTEMA -->
                        <div class="modal fade" id="confirmDelUser_@editproj" tabindex="-1" role="dialog" aria-labelledby="confirmDelUserLabel">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content modal-sm">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="confirmDelUser"> Confirm Deletion</h4>
                                    </div>

                                    <div class="modal-body">
                                        <p> Are you sure you want to delete?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"> Cancel</button>
                                        <!-- BOTÃO DE CONFIRMAR EXCLUSÃO DO ALUNO DO PROJETO -->
                                        <a href="/project/delalunodataedit/@aluno.IdPessoa" class="btn btn-danger btn-sm">
                                            <i class="fa fa-trash"></i> Delete
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {
                    editproj++;
                }
            }
        </table>

        <!-- BOTÃO DE ABRIR MODAL DE ADICIONAR REFERENCIA NO PROJETO -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addReferencia">
            <i class="fa fa-user-plus"></i> Add Reference
        </button>
        <!-- MODAL PARA ADICIONAR REFERENCIA NO PROJETO -->
        <div class="modal fade bs-example-modal-lg" id="addReferencia" tabindex="-1" role="dialog" aria-labelledby="addReferencialLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="addReferenciaLabel">References</h4>
                    </div>
                    <form action="/project/addreferenciaprojetoedit" method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-12">
                                            <input type="text" name="referenceName" placeholder="Reference Name" class="form-control input-register" maxlength="60">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success btn-sm"> Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>REFERENCES</th>
                <th>OPTIONS</th>
            </tr>
            @foreach (var item in ViewBag.ListaReferencia)
            {
                <tr>
                    <td>@item.IdReferencia</td>
                    <td>@item.DescricaoReferencia</td>
                    <td>
                        <!-- BOTÃO QUE ABRE O MODAL DE CONFIRMAÇÃO DE DELETAR REFERÊNCIA DO PROJETO -->
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDelRef_@referencia">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                        </button>

                        <!-- MODAL DE CONFIRMAÇÃO DE DELETAR REFERÊNCIA DO PROJETO -->
                        <div class="modal fade" id="confirmDelRef_@referencia" tabindex="-1" role="dialog" aria-labelledby="confirmDelRefLabel">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content modal-sm">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="confirmDelRef"> Confirm Reference Deletion</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p> Are you sure you want to delete reference?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"> Cancel</button>
                                        <!-- BOTÃO DE CONFIRMAR EXCLUSÃO DE REFERÊNCIA -->
                                        <a href="/project/delreferenciaprojetoedit/@item.IdReferencia" class="btn btn-danger btn-sm">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                {
                    referencia++;
                }
            }
        </table>
    </div>
</div>

