@model IEnumerable<Intera.Entity.Projeto>
@{
    ViewBag.Title = "My Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="div-meusProjetos">
    <h2>Meus Projetos</h2>
</div>
<div class="div-meusProjetos2" >
    <table class="table table-bordered projetos-table">
        <tr class="cor-table">
            <th class="text-center">NOME</th>
            <th class="text-center">ORIENTADOR</th>
            <th class="text-center">CO-ORIENTADOR</th>
            <th class="text-center">SITUAÇÃO</th>
            <th class="text-center">#</th>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.NomeProjeto</td>
                @foreach (var U in ViewBag.Professores)
                {
                    if (item.IdProfessor == U.IdPessoa)
                    {
                        <td>@U.Nome</td>
                    }
                }
                @if (item.IdCoorientador == 0)
                {
                    <td></td>
                }
                else
                {
                    foreach (var U in ViewBag.Professores)
                    {
                        if (item.IdCoorientador == U.IdPessoa)
                        {
                            <td>@U.Nome</td>
                        }
                    }
                }



                @if (@item.Status == 1)
                {
                    <td>Em andamento</td>
                }
                @if (@item.Status == 2)
                {
                    <td>Finished</td>
                }
                <td>
                    <a href="/project/posts/@item.IdProjeto" class="btn btn-sm btn-default"><i class="fa fa-commenting"></i> Posts</a>
                    @if (ViewBag.Status == 2)
                    {
                        <a href="/project/edit/@item.IdProjeto" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                        if (item.Status == 1)
                        {
                            <a href="/project/endproject/@item.IdProjeto" class="btn btn-sm btn-success"><i class="fa fa-check"></i>Finish</a>
                        }
                    }
                </td>
            </tr>
        }
    </table>
</div>
