@model IEnumerable<Intera.Entity.Projeto>
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:60px" ; class="container">
    <div class="row">
        <div id="filter-panel" class="collapse filter-panel">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <form action="/project/seekproject" method="post" class="form-inline" role="form">
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-perpage">Professor:</label>
                            <select id="pref-perpage" class="form-control" name="Professor">
                                <option selected="selected"></option>
                                @foreach (var u in ViewBag.Professor)
                                {
                                    <option value=@u.IdPessoa>@u.Nome</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="filter-col" style="margin-left:15px;" for="pref-search">Project Title:</label>
                            <input type="text" class="form-control input-sm-" id="pref-search" name="NameProject">
                        </div>
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-perpage">Status:</label>
                            <select id="pref-perpage" class="form-control" name="Status">
                                <option selected="selected"></option>
                                <option value=1>In progress</option>
                                <option value=2>Finished</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default filter-col top-right">
                                <span class="glyphicon glyphicon-ok-sign"></span> Save Settings
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#filter-panel">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </div>
</div>
@foreach (var t in Model)
{
    <div class="col-lg-9 pull-right">
        <ul class="media-list main-list">
            <li class="media">
                <a class="pull-left" href="/Project/seeproject/@t.IdProjeto">
                    <img class="media-object" src="~/Imagens/projects.PNG" style="height:150px;width:150px">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">@t.NomeProjeto</h4>
                    <p class="by-author">@t.Descricao</p>

                    @if (@t.Status == 1)
                    {
                        <p class="by-author">In progress</p>
                    }
                    @if (@t.Status == 2)
                    {
                        <p class="by-author">Finished</p>
                    }

                </div>
                <form action="/Project/seeproject/@t.IdProjeto" class="pull-right form-inline" >
                    <button type="submit" class="pull-right btn btn-default filter-col top-right">
                        <span class="glyphicon glyphicon-eye-open"></span>View
                    </button>

                    <button  type="button" class="pull-right btn btn-default filter-col top-right">
                        <span class="glyphicon glyphicon-save"></span> Dowload
                    </button>
                </form>
                
            </li>
        </ul>
    </div>

}


