@model IEnumerable<Intera.Entity.Projeto>
@{
    ViewBag.Title = "The Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var t in Model)
{
    Session["caminho"] = t.Link;
    <div class="div-verProjeto">
        <div>
            <strong class="titulo-verProj">Informações sobre o projeto</strong>
        </div>
        <div class="container">
            <br />
            <div class="panel panel-default ver-projPanel">
                <div class="panel-heading ver-projeto">
                    <strong class="titulos-verProj2">Nome do Projeto</strong>
                </div>
                <div class="panel-body"> @t.NomeProjeto</div>


                <div class="panel-heading ver-projeto">
                    <strong class="titulos-verProj2">Autores</strong>
                </div>
                @foreach (var U in ViewBag.Membros)
                {
                    <div class="panel-body">@U.Nome</div>
                }
                <div class="panel-heading ver-projeto">
                    <strong class="titulos-verProj2">Orientador</strong>
                </div>
                @foreach (var T in ViewBag.ProfessorNome)
                {
                    <div class="panel-body">@T.Nome</div>
                }
                <div class="panel-heading ver-projeto">
                    <strong class="titulos-verProj2">Referências</strong>
                </div>
                @foreach (var item in ViewBag.Refencia)
                {
                    <div class="panel-body">@item.DescricaoReferencia</div>
                }


                <div class="panel-heading ver-projeto">
                    <strong class="titulos-verProj2">Resumo</strong>
                </div>
                <div class="panel-body">
                    @t.Descricao
                </div>
            </div>
            <br />


            <hr class="hrProject">

            <div class="row" style="height:50px;">
                @if (t.Link != "")
                {
                    <form action="/Project/seeproject/" class="pull-right form-inline" method="post">
                        <button type="submit" class="pull-right btn btn-default filter-col top-right">
                            <span class="glyphicon glyphicon-eye-open"></span> Download
                        </button>
                    </form>
                }
            </div>
        </div>
    </div>
}