@model IEnumerable<Intera.Entity.Social>
@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:60px">Edit Profile</h2>
<div class="container">
    <form class="form-horizontal" action="/user/editprofile" method="post">
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                <input type="email" name="Email" placeholder="Email" class="form-control input-register" value="@ViewBag.Email" maxlength="50">
            </div>
        </div>
        @foreach (var social in Model)
        {
            if (social.IdSocial == 1)
            {
                <div class="form-group">
                    <label for="facebook" class="col-sm-3 control-label">Facebook</label>
                    <div class="col-sm-6">
                        <input type="text" name="Facebook" placeholder="ex: https://www.facebook.com/profile" class="form-control input-register" value="@social.Nick" autofocus>
                    </div>
                </div>
            }

            if (social.IdSocial == 2)
            {
                <div class="form-group">
                    <label for="twitter" class="col-sm-3 control-label">Twitter</label>
                    <div class="col-sm-6">
                        <input type="text" name="Twitter" placeholder="ex: https://www.twitter.com/profile" class="form-control input-register" value="@social.Nick" autofocus>
                    </div>
                </div>
            }

            if (social.IdSocial == 3)
            {
                <div class="form-group">
                    <label for="googlePlus" class="col-sm-3 control-label">Google Plus</label>
                    <div class="col-sm-6">
                        <input type="text" name="GooglePlus" placeholder="ex: Google Plus" class="form-control input-register" value="@social.Nick" autofocus>
                    </div>
                </div>
            }

            if (social.IdSocial == 4)
            {
                <div class="form-group">
                    <label for="linkedin" class="col-sm-3 control-label">Linkedin</label>
                    <div class="col-sm-6">
                        <input type="text" name="Linkedin" placeholder="ex: Linkedin" class="form-control input-register" value="@social.Nick" autofocus>
                    </div>
                </div>
            }
        }
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-6">
                <!-- BOTÃO QUE ABRE O MODAL DE TROCAR A SENHA DO PERFIL -->
                <button type="button" class="btn btn-block col-sm-12" data-toggle="modal" data-target="#attsenha" id="btnEditSenha">
                    <i class="fa fa-pencil" aria-hidden="true"></i> Change Password
                </button>
            </div>
            <!-- MODAL COM AS ABAS DE TROCAR SENHA DO PERFIL -->
            <div class="modal fade" id="attsenha" tabindex="-1" role="dialog" aria-labelledby="attsenhaLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="attsenhaLabel">Change Password</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="oldpassword" class="col-sm-3 control-label">Old Password</label>
                                    <div class="col-sm-6">
                                        <input type="password" name="oldPassword" placeholder="Old Password" class="form-control input-register"  maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newpassword" class="col-sm-3 control-label">New Password</label>
                                    <div class="col-sm-6">
                                        <input type="password" id="newpassword" name="Senha" placeholder="New Password" class="form-control input-register" onkeyup="checarSenha()" maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirmpassword" class="col-sm-3 control-label">Confirm New Password</label>
                                    <div class="col-sm-6">
                                        <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm New Password" class="form-control input-register" onkeyup="checarSenha()" maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-5" id="divcheck">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <!-- BOTÃO QUE EFETUA A TROCA DE SENHA -->
                            <button type="submit" class="btn btn-success" id="changepassword" disabled>Change Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="container col-sm-2 col-sm-offset-5">
                <!-- BOTÃO QUE ABRE O MODAL DE CONFIRMAÇÃO DAS ALTERAÇÕES REALIZADAS NO PERFIL -->
                <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#confirmEditProf"> Save</button>

                <!-- MODAL DE CONFIRMAÇÃO DAS ALTERAÇÕES -->
                <div class="modal fade" id="confirmEditProf" tabindex="-1" role="dialog" aria-labelledby="confirmEditProfLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content modal-sm">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="confirmEditProf"> Confirm Changes</h4>
                            </div>
                            <div class="modal-body">
                                <p> Are you sure you want to save edits?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"> Cancel</button>
                                <!-- BOTÃO QUE SALVA AS ALTERAÇÕES REALIZADAS -->
                                <button type="submit" class="btn btn-success btn-sm"> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
