@model IEnumerable<Intera.Entity.Pessoa>
@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int manageuser = 1;

    Intera.Entity.Aluno aluno = null;
    Intera.Entity.Professor professor = null;
}
<div style="margin-top:60px;">
    <h2>Manage Users</h2>
    <div class="container">
        <div class="row">
            <form action="/user/manage" method="post">
                <div class="col-md-12">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" name="Search" class="form-control input-lg" placeholder="Search for Name..." />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-lg" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="margin:60px">
    <a href="/user/create" class="form-control btn btn-success">
        <i class="fa fa-user-plus" aria-hidden="true"></i> Add User
    </a>
    
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>NAME</th>
            <th>E-MAIL</th>
            <th>STATUS</th>
            <th>OPTIONS</th>
        </tr>
        @foreach (var t in Model)
        {
            if (t.IdPessoa != 0)
            {


            <tr>
                <td>@t.IdPessoa</td>
                <td>@t.Nome</td>
                <td>@t.Email</td>
                @if (t.Status == 1)
                {
                    <td>Aluno</td>
                    aluno = (Intera.Entity.Aluno)t;
                }
                else if (t.Status == 2)
                {
                    <td>Professor</td>
                    professor = (Intera.Entity.Professor)t;
                }
                <td>
                    <!-- BOTÃO QUE ABRE O MODAL DE EXIBIÇÃO DE DADOS DO USUÁRIO -->
                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#viewUser_@manageuser">
                        <i class="fa fa-eye" aria-hidden="true"></i> View
                    </button>

                    <!-- MODAL DE EXIBIÇÃO DE DADOS DO USUÁRIO -->
                    <div class="modal fade" id="viewUser_@manageuser" tabindex="-1" role="dialog" aria-labelledby="viewUserLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="viewUser"> View User</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" action="/user/view" method="post">
                                        <div class="form-group">
                                            <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="Nome" placeholder="Full Name" class="form-control input-register" value="@t.Nome" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-sm-3 control-label">Email</label>
                                            <div class="col-sm-6">
                                                <input type="email" name="Email" placeholder="Email" class="form-control input-register" value="@t.Email" disabled>
                                            </div>
                                        </div>
                                        @if (t.Status == 1)
                                        {
                                            <div class="form-group">
                                                <label for="firstName" class="col-sm-3 control-label"> AR</label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="RaRs" placeholder="ex: 1210481512033" class="form-control input-register" value="@aluno.Ra" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="firstName" class="col-sm-3 control-label">Course</label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="Curso" placeholder="ex: ADS" class="form-control input-register" value="@aluno.Curso" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3">Type</label>
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="Type" value="1" checked disabled>Student
                                                            </label>
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="Type" value="2" disabled>Professor
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else if (t.Status == 2)
                                        {

                                            <div class="form-group">
                                                <label for="firstName" class="col-sm-3 control-label"> RS</label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="RaRs" placeholder="ex: 1210481512033" class="form-control input-register" value="@professor.Rs" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3">Type</label>
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="Type" value="1" disabled>Student
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="Type" value="2" checked disabled>Professor
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="form-group" style="visibility:hidden">
                                            <label for="password" class="col-sm-3 control-label">Password</label>
                                            <div class="col-sm-6">
                                                <input type="password" name="Senha" placeholder="Password" class="form-control input-register" value="@t.Senha" disabled>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <!-- BOTÃO QUE REDIRECIONA PARA A PÁGINA DE EDITAR USUÁRIO DO SISTEMA -->
                                    <a href="/user/update/@t.IdPessoa" class="btn btn-primary btn">
                                        <span class="glyphicon glyphicon-edit"></span> Edit
                                    </a>
                                    <!-- BOTÃO QUE ABRE O MODAL DE CONFIRMAÇÃO DE DELETAR USUÁRIO DO SISTEMA -->
                                    <button type="button" class="btn btn-danger btn" data-toggle="modal" data-target="#confirmDelUser_@manageuser">
                                        <span class="glyphicon glyphicon-trash"></span> Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- BOTÃO QUE REDIRECIONA PARA A PÁGINA DE EDITAR USUÁRIO DO SISTEMA -->
                    <a href="/user/update/@t.IdPessoa" class="btn btn-primary btn-sm">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                    </a>
                    <!-- BOTÃO QUE ABRE O MODAL DE CONFIRMAÇÃO DE DELETAR USUÁRIO DO SISTEMA -->
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDelUser_@manageuser">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                    </button>

                    <!-- MODAL DE CONFIRMAÇÃO DE DELETAR USUÁRIO DO SISTEMA -->
                    <div class="modal fade" id="confirmDelUser_@manageuser" tabindex="-1" role="dialog" aria-labelledby="confirmDelUserLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content modal-sm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="confirmDelUser"> Confirm Deletion</h4>
                                </div>
                                <div class="modal-body">
                                    <p> Are you sure you want to delete?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"> Cancel</button>
                                    <!-- BOTÃO DE CONFIRMAR EXCLUSÃO DO ALUNO -->
                                    <a href="/user/delete/@t.IdPessoa" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            }
            {
                manageuser++;
            }
        }
    </table>
</div>


