@model IEnumerable<Intera.Entity.Social>
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:60px;">

    <div class="container">
        <div>
            <div>
                <img src="~/Imagens/User.png" class="img-circle" />
                <label class="info-title">@ViewBag.User</label>

                <div class="col-md-offset-2" style="margin-left:20px;">
                    @foreach (var social in Model)
                    {
                        if (social.IdSocial == 1)
                        {
                            <a target="_blank" class="btn facebook" href="@social.Nick"><i class="fa fa-facebook"></i></a>

                        }
                        if (social.IdSocial == 2)
                        {
                            <a target="_blank" class="btn twitter" href="@social.Nick"><i class="fa fa-twitter"></i></a>

                        }
                        if (social.IdSocial == 3)
                        {
                            <a target="_blank" class="btn google-plus" href="@social.Nick"><i class="fa fa-google-plus"></i></a>

                        }
                        if (social.IdSocial == 4)
                        {
                            <a target="_blank" class="btn linkedin" href="@social.Nick"><i class="fa fa-linkedin"></i></a>

                        }
                    }
                </div>
                <div class="pull-right">
                    <label><i class="fa fa-envelope"></i> @ViewBag.Email</label>
                    @if (ViewBag.Status == 1)
                    {
                        <label><i class="fa fa-graduation-cap"></i> Aluno</label>

                    }
                    @if (ViewBag.Status == 2)
                    {
                        <label><i class="fa fa-graduation-cap"></i> Professor</label>

                    }

                    <a href="/User/editprofile" class="btn btn-default" type="button" style="margin-left:30px" aria-expanded="false">Edit</a>
                </div>
                <div style="margin-top:60px">
                    <label class="list-group-item disabled"> My Projects</label>
                    <a href="#" class="list-group-item"> Project 1 <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    <a href="#" class="list-group-item"> Project 2 <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>
