@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:60px;">
    <h1>Statistics of registries</h1>
    <p>Students: @ViewBag.CountAluno </p>
    <p>Professors: @ViewBag.CountProfessor </p>
    <p>Projects: @ViewBag.CountProjeto </p>
    <div class="panel panel-heading">
        <div style="margin-top:30px;">
            @*<div class="container">
                    <div style="margin:20px">
                        <table class="table table-bordered">
                            All projects and your members.
                            @foreach (var item in ViewBag.Projetos)
                            {
                                <tr>
                                    <th class="panel-heading">Project: @item.NomeProjeto</th>
                                </tr>
                                foreach (var T in ViewBag.AlunosProjeto)
                                {
                                    if (item.IdProjeto == T.IdProjeto)
                                    {
                                        <tr>
                                            <th>@T.Nome</th>
                                        </tr>
                                    }

                                }
                            }
                        </table>
                    </div>
                </div>*@
            <div class="container">
                <h2>Registered Projects</h2>
                <p></p>
                <table class="table table-hover">


                    <tr>
                        <th>Project</th>
                        <th>Members</th>

                    </tr>
                    @foreach (var item in ViewBag.Projetos)
                    {
                        var membros = "";
                        <tr>
                            <td>@item.NomeProjeto</td>

                            @foreach (var T in ViewBag.AlunosProjeto)
                            {
                                if (item.IdProjeto == T.IdProjeto)
                                {
                                    if (membros == "")
                                    {
                                        membros = @T.Nome;
                                    }
                                    else
                                    {
                                        membros = membros + ", " + @T.Nome;
                                    }

                                }
                            }
                            <td>@membros</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
