@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="div-registros">
    <div class="panel panel-default tamanho-painel">
        <div class="panel-heading cor-painel">
            <strong class="tamanho-titulo">Relatórios de registros</strong>
        </div>
        <table class="table table-bordered cor-borda">
            <tr>
                <td class="tm-font"><strong>Alunos:</strong> @ViewBag.CountAluno </td>
                <td class="tm-font"><strong>Professores:</strong> @ViewBag.CountProfessor </td>
                <td class="tm-font"><strong>Projetos:</strong> @ViewBag.CountProjeto </tdclass="tm-font">
            </tr>
        </table>
    </div>
    <div class="panel panel-default tamanho-painel div-registrosProjetos">
        @*<div class="container">
                <div style="margin:20px">
                    <table class="table table-bordered">
                        All projects and your members.
                        @foreach (var item in ViewBag.Projetos)
                        {
                            <tr>
                                <th class="panel-heading">Project: @item.NomeProjeto</th>
                            </tr>
                            foreach (var T in ViewBag.AlunosProjeto)
                            {
                                if (item.IdProjeto == T.IdProjeto)
                                {
                                    <tr>
                                        <th>@T.Nome</th>
                                    </tr>
                                }

                            }
                        }
                    </table>
                </div>
            </div>*@
            <div class="panel-heading cor-painel">
                <strong class="tamanho-titulo">Projetos registrados</strong>
            </div>
            <table class="table table-bordered cor-borda">
                <tr>
                    <td class="tm-font"><strong>Projetos</strong></td>
                    <td class="tm-font"><strong>Membros</strong></td>
                </tr>
                @foreach (var item in ViewBag.Projetos)
                {
                    var membros = "";
                    <tr>
                        <td class="tm-font">@item.NomeProjeto</td>

                        @foreach (var T in ViewBag.AlunosProjeto)
                        {
                            if (item.IdProjeto == T.IdProjeto)
                            {
                                if (membros == "")
                                {
                                    membros = @T.Nome;
                                }
                                else
                                {
                                    membros = membros + ", " + @T.Nome;
                                }

                            }
                        }
                        <td class="tm-font">@membros</td>
                    </tr>
                }
            </table>
    </div>
</div>
